
process {
    executor = 'local'
    cpus = 4
    memory = '2 GB'
    time = '2h'
    container = 'ensemblorg/ensembl-vep:release_113.4'
    docker.enabled = true
}

params {
    samplesheet  = 'samplesheet.csv'  // Default input CSV
    outdir       = 'results'          // Default output folder
    vep_threads  = 4                  // Threads per VEP process
}